* {
    font-family: 'Helvetica', sans-serif;
    font-size: medium;
    color: goldenrod;
    box-sizing: border-box;
}

body {
    margin: auto;
    background-color: blanchedalmond;
}

#header {
    background-color: cornsilk;
    color: goldenrod;
    border-bottom: 2px solid goldenrod;
    height: 100px;
    padding: 30px 60px;;
}

.headercontent {
    background-color: inherit;
    color: inherit;
    display: inline;
    height: 50px;
    font-size: 20px;
    margin-right: 10px;
}

#content {
    background-color:cornsilk;
    border: 2px solid goldenrod;
    width: 800px;
    margin: 30px auto;
    padding: 30px;
}

h1, h2 {
    font-family: 'Papyrus', 'Brush Script MT', cursive;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

li {
    margin-bottom: 10px;
}

a.link-back {
    font-size: small;
}

.recipebox {
    display: inline-block;
    border: 2px dotted goldenrod;
    width: 360px;
    height: auto;
    margin: 15px auto;
    text-align: center;
}

.recipebox img {
    width: 300px;
    height: 200px;
}